.about {
  font-size: 14px;
  padding-top: 0;
  &__item {
    flex-basis: calc((100% - var(--gap) * (var(--cols) - 1)) / var(--cols));
    position: relative;
  }
  &__img {
    position: relative;
  }
  &__box {
    @include flexCentr;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    background: rgba(47, 48, 58, 0.8);
  }
  &__descrip {
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    @include fontProperties(700, 14px, 1.14);
  }
}
