.benefits__item {
  @media screen and (min-width: $mobile-width) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet-width) {
    flex-basis: calc((100% - var(--gap) * (2 - 1)) / 2);
  }

  @media screen and (min-width: $desktop-width) {
    flex-basis: calc((100% - var(--gap) * (4 - 1)) / 4);
  }
}

.benefits__wrap {
  @include flexCentr;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-background);
  margin-bottom: 30px;
}

.benefits__title {
  @include fontProperties(700, 14px, 1.14);
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  @media screen and (min-width: $mobile-width) {
    text-align: center;
  }
  @media screen and (min-width: $tablet-width) {
    text-align: left;
  }
  @media screen and (min-width: $desktop-width) {
    text-align: left;
  }

  .benefits__about {
    @include fontProperties(400, 14px, 1.71);
    letter-spacing: 0.03em;
  }
}
