.benefits__item {
  flex-basis: calc((100% - var(--gap) * (4 - 1)) / 4);
}

.benefits__wrap {
  @include flexCentr;
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-background);
  margin-bottom: 30px;
}

.benefits__descrip {
  @include fontProperties(700, 14px, 1.14);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.benefits__about {
  font-size: 14px;
  padding-top: 0;
}
