.team {
  background-color: var(--background-team-color);

  &__card {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
    @include flexCentr;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 30px;

    @media screen and (min-width: $tablet-width) {
      flex-basis: calc((100% - var(--gap) * (2 - 1)) / 2);
    }

    @media screen and (min-width: $desktop-width) {
      flex-basis: calc((100% - var(--gap) * (4 - 1)) / 4);
    }
  }

  &__name {
    @include fontProperties(500, 16px, 1.18);
    justify-content: space-between;
    text-align: center;
    margin-bottom: 10px;
  }

  &__wrap {
    padding: 30px;
  }

  &__job {
    text-align: center;
    line-height: 1.18;
  }
}
