.container {
  @media screen and (min-width: $mobile-width) {
    max-width: $mobile-width;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }

  @media screen and (min-width: $tablet-width) {
    max-width: $tablet-width;
  }

  @media screen and (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}
