.logo {
  font-family: "Raleway";
  @include fontProperties(700, 26px, 1.2);
  color: var(--accent-color);
  letter-spacing: 0.03em;

  &__color--up {
    color: var(--primary-text-color);
  }

  &__color--down {
    color: var(--text-color-white);
  }
}
