body {
  @extend %fontPrimary;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:hover,
a:focus {
  color: var(--accent-color);
}

p {
  line-height: 1.71;
  color: var(--text-color-gray);
}

img {
  display: block;
  max-width: 100%;
}

.section {
  @media screen and (min-width: $mobile-width) {
    padding: 60px 0px;
  }
  @media screen and (min-width: $tablet-width) {
    padding: 60px 0px;
  }
  @media screen and (min-width: $desktop-width) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.title {
  @media screen and (min-width: $mobile-width) {
    @include fontProperties(700, 28px, 1.17);
    text-align: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $tablet-width) {
    @include fontProperties(700, 28px, 1.17);
    text-align: center;
    margin-bottom: 30px;
  }

  @media screen and (min-width: $desktop-width) {
    @include fontProperties(900, 44px, 1.36);
    text-align: center;
    margin-bottom: 50px;
  }
}

.flex {
  padding: 0px;
  @media screen and (max-width: $mobile-width) {
    display: block;
  }
  @media screen and (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    gap: 30px;
  }
  @media screen and (min-width: $desktop-width) {
    display: flex;
    padding-left: 0px;
    gap: 30px;
  }

  & li:last-child {
    margin-right: 0px;
  }
  & li:nth-last-child(-n -3) {
    margin-right: 0px;
  }
}
