body {
  @extend %fontPrimary;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

a:hover,
a:focus {
  color: var(--accent-color);
}

p {
  line-height: 1.71;
  color: var(--text-color-gray);
}

img {
  display: block;
  max-width: 100%;
}

.section {
  @extend %section;
}

.flex {
  display: flex;
  padding-left: 0px;
  gap: 30px;

  & li:last-child {
    margin-right: 0px;
  }
  & li:nth-last-child(-n -3) {
    margin-right: 0px;
  }
}
