:root {
  --primary-text-color: #212121;
  --accent-color: #2196f3;
  --text-color-white: #ffffff;
  --text-color-gray: #757575;
  --background-color: #2f303a;
  --button-background: #f5f4fa;
  --background-team-color: #f5f4fa;
  --gap: 30px;
  --cols: 3;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1200px;
